@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #fded0d;
  --primary-color-hover: #ddce00;
  --body-color: #2c2c2c;
  --body-color-hover: #525252;
  --text-color: #ececec;
  --text-color-hover: #fff56c;
}

@layer base{
  .body{
    @apply bg-[var(--body-color)] text-[var(--text-color)]
  }
  .cont{
    @apply max-w-7xl px-5 mx-auto
  }
  .h1{
    @apply font-sans font-extrabold text-3xl tracking-widest lg:text-4xl
  }
  .p1{
    @apply font-sans font-medium text-base tracking-normal lg:text-xl
  }
  .h2{
    @apply font-sans font-bold text-2xl tracking-normal lg:text-3xl
  }
  .p2{
    @apply font-sans font-normal text-base tracking-normal lg:text-lg
  }
  .h3{
    @apply font-sans font-medium text-xl tracking-normal
  }
  .p3{
    @apply font-sans font-normal text-sm tracking-normal leading-relaxed
  }
  .h4{
    @apply font-sans font-medium text-lg tracking-normal
  }
  .p4{
    @apply font-sans font-light text-xs tracking-normal leading-relaxed
  }
  .btn{
    @apply font-sans font-normal text-sm tracking-wider text-[var(--body-color)] bg-[var(--primary-color)] rounded-md px-3 py-2 border border-[var(--primary-color)]
  }
  .btn:hover{
    @apply bg-[var(--primary-color-hover)] transition-all
  }
  .btn-2{
    @apply  text-[var(--primary-color)] bg-[var(--body-color)] rounded-md hover:text-[var(--body-color)] hover:bg-[var(--primary-color)]
  }
  .btn-ghost{
    @apply  text-[var(--primary-color)] bg-transparent rounded-md hover:bg-[var(--body-color-hover)] shadow border-transparent
  }
  .box{
    @apply p-5 bg-[var(--text-color)] rounded-md shadow-md text-[var(--body-color)]
  }
  .link{
    @apply underline hover:text-[var(--text-color-hover)] transition-all
  }
}